<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="BaseCost" value="0.00" />
    <add key="PerItemCost" value="0.00" />
    <add key="WooCommerceExportDirDefault" value="C:\woocommerce\exports" />
    <add key="WooCommerceProcessedDirDefault" value="C:\woocommerce\costedexports" />
    <add key="CostedDirectoryDefault" value="C:\woocommerce\costedorders" />
  </appSettings>
</configuration>